        <div class="thumbnail">
            <div class="caption">
                <h3>{{ contents.title }}</h3>
                <br>
                <small> {{ contents.author}} </small>
                <br>
                <p class="description">{{ contents.description }}</p>
            </div>
        </div>